<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页面</title>
</head>
<link rel="stylesheet" href="./style/resect.css">
<link rel="stylesheet" href="./style/header.css">
<link rel="stylesheet" href="./style/footer.css">
<link rel="stylesheet" href="./style/detail.css">

<body style="background-color: #fff;">
    <!-- 网页头部 -->
    <div class="header"></div>
    <!-- 导航 -->
    <ul class="main_head clearfix">
        <div class="container clearfix">
            <a href="" class="all_title">全部商品分类</a>
            <li><a href="./phonelist.html">首页</a></li><i></i>
            <li><a href="./Axon.html">Axon系列</a></li>
            <li><a href="./Blade.html">Blade系列</a></li>
            <li><a href="">线上服务站</a></li><i></i>
            <li><a href="">中兴社区</a></li>
            <li><a href="">线下门店</a></li>
            <li><a href="">会员中心</a></li>
        </div>
    </ul>
    <!-- 列表页 -->
    <div class="decontent">
        <div class="decontent_con">
            <h2>智能手机>Axon系列>Axon 20>ZTE中兴> <span>中兴天机Axon 20 5G</span></h2>
            <div class="maindecon">
                <div class="smallimg">
                    <div class="picshow">
                        <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png" alt="">
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="information">
                    <div class="infortop">
                        <h2>中兴天机Axon 20 5G</h2>
                        <p>视觉进化，轻薄OLED屏 6400万四摄 屏幕下摄像头 【套装版：手机+手表+战鼓音响+耳机+换屏服务】</p>
                    </div>
                    <div class="inforconten">
                        <div class="hsj">
                            <p class="inforprice">￥2198.00</p>
                            <span class="phone_buy">手机购买</span>
                            <div class="buyimg">
                                <img src="../img/down.png" alt="">
                            </div>
                        </div>
                        <div class="special">
                            <p>优惠信息:</p>
                            <p>赠品</p>
                            <p><img src="https://image.ztemall.com/7c1713ac9e9a2f02d83427ef6241ae10.jpg" alt="">*1</p>
                            <p><img src="https://image.ztemall.com/ccb721e6cf0b2c9b230dc2315a9db838.jpg" alt="">*1</p>
                            <p><img src="https://image.ztemall.com/f9b8b9e1dd9c8017ca0a48d162e9b98b.jpg" alt="">*1</p>
                            <em>(购满一件即赠，赠完为止)</em>
                        </div>
                    </div>
                    <div class="inforbot">
                        <span>颜色</span>
                        <span>样式</span>
                        <span>网络制式</span>
                        <span>已选择商品: <em class="text1"></em> <em class="text2"></em><em class="text3"></em><em
                                class="xx">1台</em></span>
                        <span>数 &nbsp;&nbsp;&nbsp;量</span>
                        <div class="inforcolor">

                            <p data_text="黑洞引力 "><img
                                    src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                    alt=""></p>
                            <p data_text="流光海盐 "><img
                                    src="https://image.ztemall.com/f43222cc4d2f023599e051a4d979834f.png?x-oss-process=image/resize,w_220,h_220"
                                    alt=""></p>
                            <p data_text="幻影橙风 "><img
                                    src="https://image.ztemall.com/f5aa1efe5e473e696c565da8e1dfcc67.png?x-oss-process=image/resize,w_220,h_220"
                                    alt=""></p>
                            <p data_text="黑色引力套装版 "><img
                                    src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                    alt=""></p>
                        </div>
                        <div class="inforstyle">
                            <p>6GB+128GB </p>
                            <p>8GB+128GB </p>
                            <p>8GB+256GB </p>
                        </div>
                        <div class="inforcla">
                            <p>5G</p>
                        </div>
                        <div class="infornum">
                            <p>
                                <em class="jh">-</em>
                                <em class="how">1</em>
                                <em class="js">+</em>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="picthum">
                    <div class="nextgroup"></div>
                    <div class="pregroup"></div>
                    <div class="picthlist">
                        <ul class="picul">
                            <li class="active">
                                <div class="picitem">
                                    <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                        alt="">
                                </div>
                            </li>
                            <li class="">
                                <div class="picitem">
                                    <img src="https://image.ztemall.com/ed0a66a453f7d9c5fca9de1dc669563f.jpg?x-oss-process=image/resize,w_220,h_220"
                                        alt="">
                                </div>
                            </li>
                            <li class="">
                                <div class="picitem">
                                    <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                        alt="">
                                </div>
                            </li>
                            <li class="">
                                <div class="picitem">
                                    <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                        alt="">
                                </div>
                            </li>
                            <li class="">
                                <div class="picitem">
                                    <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                        alt="">
                                </div>
                            </li>
                            <li class="">
                                <div class="picitem">
                                    <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                        alt="">
                                </div>
                            </li>
                            <li class="">
                                <div class="picitem">
                                    <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                        alt="">
                                </div>
                            </li>
                            <li class="">
                                <div class="picitem">
                                    <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                        alt="">
                                </div>
                            </li>
                            <li class="">
                                <div class="picitem">
                                    <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png?x-oss-process=image/resize,w_220,h_220"
                                        alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bigimg">
                    <img src="https://image.ztemall.com/88e7f284d84dc83ec19f305e86b5134d.png" alt="">
                </div>
                <div class="buyphone">
                    <a href="#">立即购买</a>
                    <a href="#">加入购物车</a>
                </div>
            </div>

        </div>
    </div>
    <!-- 产品介绍 -->
    <div class="presentation">
        <div class="pretop">
            <div class="prelist">
                <a href="" class="chang">产品介绍</a>
                <a href="">规格参数</a>
                <a href="">商品咨询</a>
                <a href="">用户评论(2830)</a>

                <div class="parameter">
                    <p>商品编号：A2121</p>
                    <p>商品毛重：0.500kg</p>
                    <p>屏幕尺寸：6.5英寸以上</p>
                    <p> 价格区间：2000-3999</p>
                    <p>运行内存：6GB及以上</p>
                    <p>存储容量：128GB及以上</p>
                    <p>处理器：骁龙765G</p>
                    <p> 电池容量：4220mAh</p>
                    <p>屏幕分辨率：2460*1080</p>
                    <p> 摄像头：6400万AI四摄</p>
                    <p>运营商网络：SA/NSA双模5G</p>
                </div>
            </div>

        </div>
        <div class="prebot">
            <h3>产品信息</h3>
            <div class="botinfor">
                <p>
                    <!-- <img src="https://image.ztemall.com/a2da65a20ebcb9b882a04a8a6949c7f9.jpg" alt=""> -->
                </p>
            </div>
        </div>
        <div class="hahas"></div>
    </div>
    <!-- 底部及版权信息 -->
    <div class="footer"></div>
</body>
<script src="./script/jquery-1.8.3.js"></script>
<script src="./script/detail.js"></script>
<script src="./script/utils.js"></script>
<script>
    var picshow = document.querySelector(".picshow");
    var mask = document.querySelector(".mask");
    var bigimg = document.querySelector(".bigimg");
    var maxImg = document.querySelector(".bigimg img");

    // 移入右边,遮罩层出现
    picshow.addEventListener("mouseenter", function () {
        mask.style.display = "block";
        bigimg.style.display = "block"
    })
    picshow.addEventListener("mouseleave", function () {
        mask.style.display = "none"
        bigimg.style.display = "none"
    })
    // 遮罩层跟着鼠标移动
    picshow.addEventListener("mousemove", function (ev) {
        var e = ev || window.event;
        var mask_left = (e.pageX - offset(picshow).left - mask.clientWidth / 2)
        var mask_top = (e.pageY - offset(picshow).top - mask.clientHeight / 2)
        if (mask_left <= 0) {
            mask_left = 0
        }
        if (mask_left >= picshow.clientWidth - mask.clientWidth) {
            mask_left = picshow.clientWidth - mask.clientWidth;
        }
        if (mask_top <= 0) {
            mask_top = 0
        }
        if (mask_top >= picshow.clientHeight - mask.clientHeight) {
            mask_top = picshow.clientHeight - mask.clientHeight;
        }
        mask.style.left = mask_left + "px"
        mask.style.top = mask_top + "px"

        // 大图跟着移动
        // 1.计算移动比列
        var scaleX = mask_left / (picshow.clientWidth - mask.clientWidth)
        var scaleY = mask_top / (picshow.clientHeight - mask.clientHeight)

        // 2.大图的移动
        var img_left = (maxImg.clientWidth - bigimg.clientWidth) * scaleX
        var img_top = (maxImg.clientHeight - bigimg.clientHeight) * scaleY

        maxImg.style.left = -img_left + "px"
        maxImg.style.top = -img_top + "px"
    })

    /* 点击按钮 移动下方手机列表 */
    $(".nextgroup").on("click", function () {
        $(this).next().next().animate({
            "left": -150
        }, 200)
        $(this).css("display", "none")
        $(".pregroup").css("display", "block")

    })
    $(".pregroup").on("click", function () {
        $(this).next().animate({
            "left": 0
        }, 200)
        $(this).css("display", "none")
        $(".nextgroup").css("display", "block")
    })
    $(".phone_buy").on("mouseenter", function () {
        $(".buyimg").css("display", "block")
    })
    $(".phone_buy").on("mouseleave", function () {
        $(".buyimg").css("display", "none")
    })
    /* 给下方列表添加事件 */
    $(".picul li").on("mouseenter", function () {
        $(".picul li").removeClass("active")
        $(this).addClass("active")
        // ($(this).find("img").attr("src"))
        $(".picshow").find("img").attr("src", ($(this).find("img").attr("src")))
        $(".bigimg").find("img").attr("src", ($(this).find("img").attr("src")))
    })


    /* 点击样式 */
    var selecttext = ""
    $(".inforcolor p").on("click", function () {
        $(".inforcolor p").removeClass("bg")
        $(this).addClass("bg")
        $(".text1").text("")
        $(".text1").append($(this).attr("data_text"))

    })
    $(".inforstyle p").on("click", function () {
        $(".inforstyle p").removeClass("bg")
        $(this).addClass("bg")
        $(".text2").text("")
        $(".text2").append($(this).text())
    })
    $(".inforcla p").on("click", function () {
        $(".inforcla p").removeClass("bg")
        $(this).addClass("bg")
        $(".text3").text("")
        $(".text3").append($(this).text())
    })
    var jh = document.querySelector(".jh")
    var js = document.querySelector(".js")
    var how = document.querySelector(".how")
    var xx = document.querySelector(".xx")
    js.addEventListener("click", function () {
        var hnum = parseInt(how.innerHTML)
        hnum++
        xx.innerHTML = hnum + "台"
        how.innerHTML = hnum
    })
    jh.addEventListener("click", function () {
        var hnum = parseInt(how.innerHTML)
        hnum--
        if (hnum < 1) {
            hnum = 1
            alert("最小购物数量为一件")
        }
        xx.innerHTML = hnum + "台"
        how.innerHTML = hnum
    })

    var detailimg = [
        "https://image.ztemall.com/a2da65a20ebcb9b882a04a8a6949c7f9.jpg",
        "https://image.ztemall.com/a6770670ca506f43cf16a7203a8e898f.jpg",
        "https://image.ztemall.com/024d4cb0417a3f8b9e6383f20760182e.jpg",
        "https://image.ztemall.com/028a839a15925a225ef7266bd2018e45.jpg",
        "https://image.ztemall.com/78fb4966e5cd3ad33a5cb10c15d02773.jpg",
        "https://image.ztemall.com/83f1b0ea619881287756916c86c24ace.jpg",
        "https://image.ztemall.com/ba93898173654ae022ae8e4ba0622c7e.jpg",
        "https://image.ztemall.com/86fc49af2c337c4d78a0754154546ea1.jpg",
        "https://image.ztemall.com/5a0609ce4694c29287661cd38a750adf.jpg",
        "https://image.ztemall.com/9b572729fa5e87435aa6e005ec737f5a.jpg",
        "https://image.ztemall.com/31445bedb7c98ee680e333a95cd766bf.jpg",
        "https://image.ztemall.com/d72a68081a6a63fb97f100c82b5cd6f7.jpg",
        "https://image.ztemall.com/86b3399a948da43df59761089c305f4a.jpg",
        "https://image.ztemall.com/0befcfb71cfc26e5a3721ca8fe2200d0.jpg",
        "https://image.ztemall.com/5c3937f41ef029f956551dc9dfc3a111.jpg",
        "https://image.ztemall.com/20f3eedf55f46ab29fa606e139975378.jpg",
        "https://image.ztemall.com/d930c4a9d99cc87b815ae72508b56b48.jpg",
        "https://image.ztemall.com/d930c4a9d99cc87b815ae72508b56b48.jpg",
        "https://image.ztemall.com/787261de4b5daed12cdea4e5739b39f7.jpg",
        "https://image.ztemall.com/dc1039aa87a919bdb71c7720fd97b9f3.jpg",
        "https://image.ztemall.com/3369b4be33bc3b573ce3d4dac3376dfc.jpg",
        "https://image.ztemall.com/488a48ada340e5f751449731eab2df38.jpg"
    ]
    var deailength = detailimg.length
    var t = ""
    for (var i = 0; i < deailength; i++) {
        t += "<img src="+detailimg[i]+">"
    }

    document.querySelector(".botinfor p").innerHTML = t

</script>
<script>
    $(".header").load("./header.html")
    $(".footer").load("./footer.html")
</script>

</html>