<link rel="stylesheet" href="./style/header.css">
<div class="header_con">
    <div class="head_nav">
        <a href="#">中兴官网</a>
        <a href="#">消费者业务</a>
        <a href="#">运营商业务</a>
        <a href="#">企业业务</a>
    </div>
    <div class="login">
        <a href="./login.html" class="hh">登录</a>
        <a href="./regist.html" class="jj">注册</a>
        <a href="#" class="Mallconnection">手机商城</a>
        <div class="ewm">
            <p>用手机扫一扫</p>
        </div>
    </div>
</div>
<div class="logoseach">
    <div class="logoseach_con">
        <div class="leftlogo">
            <h1><a href="phonelist.html">中兴商城</a></h1>
        </div>
        <div class="centerseach">
            <input type="text" name="" class="search_box">
            <button class="search_btn">搜索</button>
            <p class="keyword">热门关键词: <a href="#">Axon 20</a> <a href="#">Axon 11 SE 5G</a> <a href="#">Axon 11 5G</a>
            </p>
        </div>
        <div class="buycart">
            <a href="#" class="buycart_link">查看购物车</a>
            <span class="buy_count">0</span>
        </div>
    </div>
</div>


<script>
    $(".Mallconnection").mouseenter(function () {
        $(".ewm").css("display", "block")
    })
    $(".Mallconnection").mouseleave(function () {
        $(".ewm").css("display", "none")
    })
    var customer = JSON.parse( localStorage.getItem('customer') )
    for(var i=0;i<customer.length;i++){
        if(customer[i].state==1){
         $(".hh").html("欢迎用户~"+customer[i].users ) 
         $(".jj").html("安全退出")
        }
    }
    
</script>