<link rel="stylesheet" href="./style/nav.css">
<link rel="stylesheet" href="./style/swiper-bundle.css">
<div class="nav">
    <!-- 头部导航区域 -->
    <ul class="main_head clearfix">
        <div class="container clearfix">
            <a href="" class="all_title">全部商品分类</a>
            <li><a href="#">首页</a></li><i></i>
            <li><a href="./Axon.html">Axon系列</a></li>
            <li><a href="./Blade.html">Blade系列</a></li>
            <li><a href="">线上服务站</a></li><i></i>
            <li><a href="">中兴社区</a></li>
            <li><a href="">线下门店</a></li>
            <li><a href="">会员中心</a></li>
        </div>
    </ul>
    <!-- 分类区域 -->
    <div class="main_left">
        <!-- 一级列表区 -->
        <ul class="classify clearfix">
            <li>
                <div class="cate_gory_item" index="0">
                    <a href="./Axon.html"><img src="https://image.ztemall.com/0f0b0fc3f8a04cb6b7f38092798eba09.jpg" alt=""
                            width="30" height="30"> 智能手机</a>
                    <span class="nav_icon">></span>
                </div>
                <div class="category_sub">
                    <!-- <div class="category_data">
                            <h1 class="category_data_head"><a href="#">Axon 系列</a></h1>
                            <div class="category_data_list">
                                <a href="#"><img src="https://image.ztemall.com/dcb3389a6da9312f2b14a0fd41fa7fd6.jpg"
                                        alt="" width="38" height="49">
                                    <p class="category_data_text">
                                        <span class="data_text1">nubia watch</span>
                                        <span class="data_text2">刚柔并济,表现不凡</span>
                                    </p>
                                </a>
                            </div>
                        </div> -->

                </div>
            </li>
            <li>
                <div class="cate_gory_item" index="1">
                    <a href="./Blade.html"><img src="https://image.ztemall.com/a40ba4c3c49fdeea1799bd047a859bd3.jpg" alt=""
                            width="30" height="30"> 智能终端</a>
                    <span class="nav_icon">></span>
                </div>
                <div class="category_sub">

                </div>
            </li>
            <li>
                <div class="cate_gory_item" index="2">
                    <a href=""><img src="https://image.ztemall.com/649ba6561dbf0f1e36d1dbdfe3d325d0.jpg" alt=""
                            width="30" height="30"> 影音娱乐</a>
                    <span class="nav_icon">></span>
                </div>
                <div class="category_sub">

                </div>
            </li>
            <li>
                <div class="cate_gory_item" index="3">
                    <a href=""><img src="https://image.ztemall.com/28044ad3a2c84579ed0c8492dc0953b4.png" alt=""
                            width="30" height="30"> 手机充电</a>
                    <span class="nav_icon">></span>
                </div>
                <div class="category_sub">

                </div>
            </li>
            <li>
                <div class="cate_gory_item" index="4">
                    <a href=""><img src="https://image.ztemall.com/e7e57bde1d563e07b400c8e1c7c08cf0.jpg" alt=""
                            width="30" height="30">手机配件</a>
                    <span class="nav_icon">></span>
                </div>
                <div class="category_sub">

                </div>
            </li>
            <li>
                <div class="cate_gory_item" index="5">
                    <a href=""><img src="https://image.ztemall.com/0da40e4b043ad6ffde09612f30ab4300.jpg" alt=""
                            width="30" height="30"> 服务/其他</a>
                    <span class="nav_icon">></span>
                </div>
                <div class="category_sub">

                </div>
            </li>

        </ul>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/8c67ab9def9879843859132baed89056.jpg" alt=""><span></span></a></div>
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/8d65608e6ee45d437952e20774ea7c72.jpg" alt=""><span></span></a></div>
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/f2b5e5ef8f27c6a5015c339985277e48.jpg" alt=""><span></span></a></div>
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/25b4255623e71f02574a5bb30f23cc6f.jpg" alt=""><span></span></a></div>
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/36fa10e9dbeceefc38c48c084e5d4e30.jpg" alt=""><span></span></a></div>
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/3e084018bb798a224a990f78d82b8f76.jpg" alt=""><span></span></a></div>
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/6de5b9a160fe362fe2737034b1886a29.jpg" alt=""><span></span></a></div>
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/f334f57e5e3496bee415041e9b46206b.jpg" alt=""><span></span></a></div>
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/02bebe46d0913a39703a4e33b8ff608c.jpg" alt=""><span></span></a></div>
            <div class="swiper-slide"><a href="#"><img src="https://image.ztemall.com/87bf794f939e3b2c77432ff0e5110fb3.jpg" alt=""><span></span></a></div>
          
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<script src="./script/swiper-bundle.min.js"></script>

<script>
    $(function () {
    var mySwiper = new Swiper('.swiper-container', {
        // direction: 'vertical', // 垂直切换选项
        loop: true, // 循环模式选项
        autoplay: {
            delay:2000,
            stopOnLastSlide: false,
            disableOnInteraction: true
        },
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },
        
    })
    console.log(111)
        function cart_render(index) {
            $.ajax({
                url: "../data/TEXT.json",
                type: "get",
                dataType: "json",
                cache: false,
                success: function (json) {
                    // console.log(json[index])
                    var domStr = ""

                    $.each(json[index], function (ind, ite) {
                        var conttenStr = ""
                        $.each(ite, function (ix, it) {
                            conttenStr += `                    
                                <a href="./detail.html"><img src="${it.contenimg_src}"
                                        alt="" width="38" height="49">
                                    <p class="category_data_text">
                                        <span class="data_text1">${it.contenttext1}</span>
                                        <span class="data_text2">${it.contenttext2}</span>
                                    </p>
                                </a>                                              
                                `
                        })

                        domStr += `
                            <div class="category_data">
                            <h1 class="category_data_head"><a href="#">${ind}</a></h1>
                            <div class="category_data_list">
                                ${conttenStr}
                            </div>
                            </div>
                            `
                        // console.log(domStr)
                    })
                    // console.log(domStr)
                    $(".category_sub").html(domStr)         
                }
            })
        }
        var cate_gory_item = document.querySelectorAll(".cate_gory_item")
                    var category_sub = document.querySelectorAll(".category_sub")
                    var preindex = 0;
                    for (var i = 0; i < cate_gory_item.length; i++) {
                        cate_gory_item[i].index = i;
                        cate_gory_item[i].onmouseenter = function () {
                            category_sub[preindex].style.display = "none";
                            category_sub[this.index].style.display = "block";
                            preindex = this.index
                        }
                        category_sub[i].onmouseenter = function () {
                            this.style.display = "block"
                        }
                        category_sub[i].onmouseleave = function () {
                            this.style.display = "none"
                        }
                        cate_gory_item[i].onmouseleave = function () {
                            category_sub[preindex].style.display = "none"
                        }
                    }
        $(".cate_gory_item a").on("mouseenter", function () {
            var i = $(this).closest(".cate_gory_item").attr("index")
            cart_render(i)
        })
    })
   
</script>