<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中兴商城首页</title>
</head>
<link rel="stylesheet" href="./style/resect.css">
<link rel="stylesheet" href="./style/phonelist.css">

<body style="background-color: #f2f2f2;">
    <!-- 头部 -->
    <div class="header"></div>
    <!-- 导航栏 -->
    <div class="navt"></div>
    <!-- 手机列表页 -->
    <div class="phone_list">
        <h1 class="phone_head">推荐<span>中兴精品推荐</span></h1>
        <div class="phone_left">
            <a href="#">
                <img src="https://image.ztemall.com/211811785fc526e675579f2d179ebf7e.jpg" alt="">
            </a>
        </div>
        <div class="phone_right">
            <ul class="right_list">
                <!-- <li>
                    <a href="#">
                        <img src="https://image.ztemall.com/8ce2ef35c721c94674e5f6f91815c9b0.png" alt="">
                        <p class="text">中兴天机 axjo 20 5g</p>
                        <span class="subsc">5g新年，万象当潮</span>
                        <em class="price">¥3498.00</em>
                        <i class="news">新品</i>
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="phone_bottom">
            <a href="#">
                <img src="https://image.ztemall.com/874b37e504c6c9611453141648dc422d.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- 其他设备列表页 -->
    <div class="else_list">
        <h1 class="else_head">智能终端<span>智能生活必备</span></h1>
        <div class="else_left">
            <a href="#">
                <img src="https://image.ztemall.com/6d80d5c2c6844a1756cf2b614239c613.jpg" alt="">
            </a>
        </div>
        <div class="else_right">
            <ul class="right_list">
                <!-- <li>
                    <a href="#">
                        <img src="https://image.ztemall.com/8ce2ef35c721c94674e5f6f91815c9b0.png" alt="">
                        <p class="text">中兴天机 axjo 20 5g</p>
                        <span class="subsc">5g新年，万象当潮</span>
                        <em class="price">¥3498.00</em>
                        <i class="news">新品</i>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
    <!-- 推荐商品 -->
    <div class="main"></div>
    <!-- 底部及版权信息 -->
    <div class="footer"></div>
</body>
    
    <script src="./script/jquery-1.8.3.js"></script>
    <script src="./script/phonelist.js"></script>
    <script>
        $(".header").load("./header.html")
        $(".navt").load("./nav.html")
        $(".main").load("./parts.html")
        $(".footer").load("./footer.html")
    </script>
</html>